parameters:
  level: max
  paths:
    - src
    - tests
  checkExplicitMixed: true
  checkUninitializedProperties: true
  reportMaybes: true
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - vendor